# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
myenv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Logs
*.log

# Local development settings
.DS_Store 
statistical_analysis/Section1/__pycache__/q1.cpython-312.pyc
statistical_analysis/Section1/__pycache__/q1.cpython-312.pyc
